@font-face {
    font-family: "monogram";
    src: url(monogram.ttf);
}

html {
    image-rendering: pixelated;
    background-color: #222323;
    padding: 20px;
}

h1 {
    
    font-size: 64px;
}

.bar {
    width: 291px;
    height: 72px;
}

video {
    width: 375px;
    height: 280px;
    display: block;
    margin: 50px auto;
    position: relative;
    z-index: 0;
}

.underlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 50px auto;
    background: url(Pattern_vid.png) repeat;
    animation: vidScrollUp 3s linear infinite;
}

.ITCH:before {
    content: "";
    display: inline-block;
    width: 26.5px;
    height: 24px;

    background: url(ITCH_ICON.png);
    background-size: contain;

    margin-bottom:-6px;
    margin-right: 5px;
}

.TWITTER:before {
    content: "";
    display: inline-block;
    width: 23.5px;
    height: 24px;
    background: url(TWITTER_ICON.png);
    background-size: contain;
    margin-bottom: -6px;
    margin-right: 5px;
}


p {
    font-size: 32px;
}

* {
    text-align:center;
    font-family:monogram;
    color: #f0f6f0;
}

#bg2 {
    background: url("PlatformFishing.png");
    background-repeat: repeat-x;
    background-size: auto 64px;
    height: 48px;
}

#bg {
    background: url("Banner Progress.png");
    background-repeat: repeat-x;
    background-size: auto 48px;

    height: 48px;
    animation: bgScrollLeft 5s linear infinite;
}

@keyframes bgScrollLeft {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -288px 0;
    }
}

@keyframes vidScrollUp {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 12px 12px;
    }
}
